@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

:root {
    --font: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    --background: #fefeff;
    --background-secondary: #f7f7f8;
    --foreground: #313131;
    --foreground-secondary: #494949;
    --highlight: #474dd6;
    --highlight-secondary: #6a6fe0;
}

.theme-paper {
    --background: #f1e7d0;
    --background-secondary: #f5ede0;
    --foreground: #433422;
    --foreground-secondary: #5a4836;
    --highlight: #8d7d69;
    --highlight-secondary: #a49584;
}

.theme-dark {
    --background: #1e1e1e;
    --background-secondary: #2a2a2a;
    --foreground: #c9c7b3;
    --foreground-secondary: #d4d2c2;
    --highlight: #72716d;
    --highlight-secondary: #898883;
}

.theme-desert {
    --background: #332a2c;
    --background-secondary: #403437;
    --foreground: #cfa476;
    --foreground-secondary: #d8b491;
    --highlight: #89602f;
    --foreground-secondary: #a07546;
}

.theme-ocean {
    --background: #06273a;
    --background-secondary: #0d3449;
    --foreground: #128898;
    --foreground-secondary: #1a9fb0;
    --highlight: #0a4858;
    --highlight-secondary: #125b6e;
}

.theme-forest {
    --background: #052529;
    --background-secondary: #0c3236;
    --foreground: #129878;
    --foreground-secondary: #1aab89;
    --highlight: #0b5e50;
    --highlight-secondary: #127162;
}

body {
    font-family: var(--font);
}

.font-sans {
    --font: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
        Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.font-serif {
    --font: "Merriweather", Georgia, "Times New Roman", Times, serif;
}

.font-mono {
    --font: "JetBrains Mono", Consolas, "Courier New", monospace;
}
