/* Firefox */
@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--highlight) var(--background);
  }
}

/* WebKit browsers (Chrome, Safari, newer versions of Edge) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--foreground);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--foreground-secondary);
}
